.parent {
  background-color: #ddd;
  margin: 5px auto;
  width: 200px;
  height: 200px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c1 {
  width: 200px;
  height: 200px;
  background-color: red;
  clip-path: circle(70px at 50% 50%);
}
.tmain {
  width: 200px;
  height: 200px;
  position: absolute;
}
.t1 {
  background-color: indianred;
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}
.t2 {
  background-color: violet;
  clip-path: polygon(0% 0%, 50% 50%, 0% 100%);
}
.t3 {
  background-color: royalblue;
  clip-path: polygon(0% 0%, 100% 0%, 50% 50%);
}
.t4 {
  background-color: olivedrab;
  clip-path: polygon(0% 50%, 100% 50%, 50% 100%);
}
